body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body{
  background-color: #FAE6C9;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
}

.link{
  padding: 10px 40px;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}
.block{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.blockhome {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.about {
  color: black;
}

.blocktwo{
  display: flex;
  flex-wrap: wrap;
  width: 70%;
}
.blockthree{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
.product-card{
 
  padding: 10px;
}
.imgimg {
  width: 300px;
  border-radius: 10px;
}

.cartbtn{
width: 40px;
}
.cartbtn{
  cursor: pointer;
  
}

button{
  background-color: #FAE6C9;
  border: none;
}

.btn{
  border: 2px solid #886406;
font-size: 30px;
width: 70px;
text-align: center;
}

.choose {
  color: #BC2692;
  font-size: 45px;
}

.words{
  padding: 10px;
  font-size: 30px;
}

.cartIcon{
  width: 50px;
}

.categoryButtonSelected{
  background-color: #e598dd;
  padding: 5px;
}

.categoryButton:hover{
  background-color: #ffe565;
}

.categoryButton{
  cursor: pointer;
  padding: 5px;
}

.cartpicture{
  width: 100px;
}

.bold{
  font-weight: bolder;
}

.small{
  display: flex;
 flex-direction: column;
  background-color: #9f8769 ;
  width: 50%;
  color: white;
  padding: 20px;
  flex-wrap: wrap;

}

.cartbtn7{
  width: 30px;
  background-color: #9f8769 ;
  }
.big{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

}
.cart{
  color: red;
}

.delivery{
  background-color: #c67dbe;
  display: flex;
  justify-content: center;
  font-size: 15px;
  font-weight: bold;
  flex-wrap: wrap;
}

.kappie{
  display: flex;
  justify-content: center;
  font-size: 40px;
  font-weight: bolder;
  background-image: url(https://images.unsplash.com/photo-1613087088715-4b613e9b4d68?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #6e0f53;
  flex-wrap: wrap;
}
nav{
  position: sticky;
  top: 0;
  z-index: 100;
}

.express{
  font-style: oblique;
  font-size: 32px;
  font-weight: 900;
  color:#400d3db8 ;
  background-color: #ece3d662;
  padding: 10px;
}

.all{
  padding: 20px;
  color: white;
  font-size: large;
  text-decoration: none;
  display: flex;
  justify-content: center;
  text-decoration: none;
  flex-wrap: wrap;
}
.container{
  position: relative;
  text-align: center;
}
.absolute{
  position: absolute;
  top: 200px;
  left: 25px;
  bottom: 30px;
  letter-spacing: 1px;
}
.bottom {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: rgb(49, 47, 47);
  color: white;
  font-weight: 600;
  font-size: 15px;
}

.show{
  display: none;
  flex-wrap: wrap;
}

.showmore{
  display: inline-block;
  flex-wrap: wrap;
}

.chekout{
  background-color: #FAE6C9;
  color: black;
  padding: 5px;
}

.pay{
  background-color: #d19b59;
  color: white;
  padding: 5px;
  margin: 5px;
  text-align: center;
  font-size: medium;
}

.pay:hover {
  background-color: #e8d5ba;
  color: #886406;
  border: 1px solid #886406;
}
.bot{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.formsubmit{
  display: flex;
  justify-content: center;
  padding: 15px;
  color: white;
  flex-wrap: wrap;
}

.inp {
  background-color: #FAE6C9;
  
}

.bottomtwo{
  background-color: #312f2f;
}

.color{
  color: white;
}

.about {
  border-right: 1px solid white;
  height: 7px;
  padding: 10px;
  font-size: 20px;
}

.abouttwo{
  font-size: 20px;
}
.border{
  border-right: 1px solid black;
  height: 7px;
  padding: 10px;
  font-size: 20px;
}

.but{
  font-size: 15px;
  padding: 7px;
  margin: 2px;
  background-color: #715a3f;
  color: white;
  border: 1px solid white;
}

.containerabout{
 
  margin: 60px;
}

.font {
  font-family: 'Stoke', serif;
}

.questions{
  color: #6e0f53;
}

.gifs{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.login{
  padding: 20px;
  background-color: #715a3f;
  color: white;
  font-family: 'Stoke', serif;
  margin: 20px;

}

.display{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}

.woow{
  background-color: #77ef834a;
  padding: 20px;
}

.woowza{
  display: flex;
  justify-content: center;
  font-size: 15px;
  background-color: rgba(116, 255, 116, 0.315);
  flex-wrap: wrap
}

@media all and (max-width:500px){
  .express{
    font-style: oblique;
    font-size: 25px;
    font-weight: 900;
    color:#400d3db8 ;
    background-color: #ece3d662;
    padding: 5px;
  }

  .all{
    background-color: #9f8769;
    color: white;
    font-size: 15px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    text-decoration: none;
    flex-wrap: wrap;
  }

  .choose {
    color: #BC2692;
    font-size: 30px;
  }
  .blockhome {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .link{
    padding: 5px 5px;
    text-decoration: none;
    color: black;
  }
}